
.paginate {
  display: inline-block;
  float: right;
}

.paginate-li .paginate-a {
  color: black;
  float: left;
  padding: 3px 9px;
  text-decoration: none;
  border: 1px solid #1f2937;
  margin: 0px 5px; 
}

.paginate-prev-a,.paginate-next-a {
  color: black;
  float: left;
  padding: 3px 9px;
  text-decoration: none;
  border: 1px solid #1f2937;
  margin: 0px 5px; 
}

.paginate-a.active {
  background-color: #4CAF50;color:white
}

.paginate-active .paginate-a {
  background-color: #4CAF50;color:white; border: 1px solid #4CAF50
}

.paginate-li .paginate-a:hover:not(.active) {background-color: #4CAF50;color:white; border: 1px solid #4CAF50}


.paginate-wrap {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 5px;
  width: 100%;
  float: right;
}
.addNewBtn{
  float: right;
  font-size: 16px;
}


.form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}


input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.LoginFrom button[type="submit"],
.LoginFrom input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.LoginFrom button[type="submit"]:hover,
.LoginFrom input[type="submit"]:hover {
  background: #bf1650;
}

.LoginFrom button[type="submit"]:active,
.LoginFrom input[type="button"]:active,
.LoginFrom input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}